body {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 72px;
  margin-top: 0;
  text-shadow: 2px 2px 5px #fbeeac;
}

h2 {
  font-family: 'Merriweather', serif;
}

h3 {
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #28ABB9;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  background-color: #2D6187;
}

.bottom-container {
  background-color: #f4d160;
  margin-bottom: 0;
  position: relative;
}

.airship {
  position: absolute;
  right: 200px;
}

.first-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.second-cloud {
  left: 300px;
  position: absolute;
}

.mountain {
  bottom: -5px;
  position: relative;
}

.signature {
  color: black;
  margin: 0;
}
